# Juypter notebooks blow up the total language fraction unrealistically.
# Easy fix is to exclude these files from counting. 
# Adapted from https://github.com/drandreaskrueger/chainhammer/blob/master/.gitattributes

examples/*.ipynb linguist-generated=true
docs/* linguist-generated=true