.idea/
.vscode
.venv/
venv/
tmp/
*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
.ipynb_checkpoints/
sbi-logs/

/doc/_apidoc/
/build
/dist/
/docs_build/

playground/
TODOs.txt
